.home-about{
  background:radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%);
  height: 170vh;
  /* position: relative; */
}
.Home-sec{
    /* background:radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%); */
    min-height: 100vh;
    /* width: 100%; */
   }
   .About-sec{
    /* background:radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%); */
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* padding:100px; */
   }
   .home-container{
    max-width: 1320px;
    margin:auto;
    /* background-color: aqua; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
   }
   .sub-section{
    /* display: flex; */
    opacity: 0;
    max-width: 660px;
    transform: translateX(-30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    /* background-color: aliceblue; */
    /* background-color: aliceblue; */
   }
   .profile-sec{
    opacity: 0;
    transform: translateX(30px);
    animation: fadeUpIn 1s ease forwards;
    animation-delay: 0.3s;
    display: flex;
    justify-content: end;
    width: 50%;
    /* background-color: #ccc; */
    /* flex:1 1 30%; */
    
   }
   .profile-sec> img{
    max-width: 420px;
    border-radius: 20px;
    box-shadow: -1px 2px 5px #ccc;
   }
   @keyframes fadeInUp {
    from{
      opacity:0;
      transform: translateX(-30px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
   }
   @keyframes fadeUpIn {
    from{
      opacity:0;
      transform: translateX(30px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
   }
   .sub-section> h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.5;
    display: flex;
   }
   .sub-section>h2{
    font-weight: normal;
    font-size: 20px;
    padding: 30px 0px;
    line-height: 1.5;
    text-align: left;
    display: flex;
   }
   .about-container{
    max-width: 1320px;
    margin:auto;
    background-color:white;
    border-radius: 20px;
    box-shadow: -1px 10px 50px #ccc;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 60px 0px;
    width: 100%;
   }
   .text-sec>h2{
    font-weight: normal;
    font-size: 18px;
    padding: 30px 0px;
    line-height: 1.5;
    text-align: justify;
   }
   .text-sec{
    display: flex;
    max-width: 555px;
    /* min-width: 420px; */
    padding: 0px 80px;
    /* background-color: antiquewhite; */
    /* flex-grow: 1; */
    /* justify-content: left; */
    /* background-color: aliceblue; */
   }
   .img-sec{
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: #ccc; */
    width: 50%;
    /* justify-content: end; */
   }
   .img-sec> img{
    /* width: 70%; */
    max-width: 420px;
    border-radius: 20px;
    /* box-shadow: -1px 2px 5px #ccc; */
   }
   .social{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -40px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
   }
   .social>.bi{
    font-size: 22px;
    display: inline-block;
    padding: 10px;
    color: #9929fb;
    transition: all 0.15s ease;
   }
   .social>.bi:hover{
    color: white;
    background-color: #9929fb;
    border-radius: 3px;
   }

   @media (max-width:1234px){
    .home-container{
      flex-wrap: wrap;
      justify-content: center;
      /* flex-direction: column; */
    }
    .sub-section{
      width: 70%;
      order: 2;
      justify-content: center;
      flex-grow: 1;
      /* padding: 0px 20px; */

      /* padding-left: 25px; */
      /* display: flex; */
    }
    /* .sub-section>h2{
      display: none;
    } */
    .profile-sec{
      order: 1;
      justify-content: center;
      align-items: center;
      /* padding: 80px 0px 0px;
      margin: 55px 0px 0px; */
      /* padding: 0;  smaller */
      /* margin: 20px 0 0;    */
      /* flex-grow: 1; */
      /* height:50vh; */
    }
    .about-container{
      flex-wrap: wrap;
      justify-content: center;
      /* background: radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%); */
      /* flex-direction: column; */
    }
    .text-sec{
      margin-top: 30px;
      padding-left: 15px;
      padding-right: 15px ;
    }
    .img-sec> img{
      max-width: 315px;
    }
    
   }
   @media (max-width:768px) {
      .sub-section>h2{
        font-size: 14px;
      }
      .text-sec>h2{
        font-size: 14px;
      }
      .sub-section>h1{
        /* text-align: center; */
        padding-top: 40px;
        font-size: 40px;
      }
      .sub-section{
        max-width: 420px ;
        /* flex-grow: 1; */
      }
      .profile-sec>img{
        max-width:350px  ;
      }
      .Home-sec{
        min-height: 50vh;
      }
    }
   