body{
  height: 20000px;
}
.cont{
  background:radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%) !important;
  /* height: 170vh; */
  background-repeat: no-repeat center center;
  /* height: 170vh; */
  /* height: 170vh; */
  /* margin-top: 100px; */
  /* position: relative; */
}
   .About-sec{
    /* background:radial-gradient(circle at 12% 100%,#ffe2b0f5 1%,#ffe2b0f5 5px,#0000 15%),radial-gradient(circle at 95% -15%,#da4df166 5%,#0000 30%),radial-gradient(circle at 100%,#c4f5e9b2 2%,#0000 35%); */
    min-height: 100vh;
    /* width: 100%; */
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* background-color: #ccc; */
    /* padding:100px; */
   }
   .home-container{
    max-width: 1320px;
    margin:auto;
    /* background-color: aqua; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* width: 100%; */
   }
   .sub-section{
    display: flex;
    width: 50%;
    opacity: 0;
    flex-wrap: wrap;
    /* max-width: 660px; */
    transform: translateX(-30px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 0.3s;
    /* background-color: aliceblue; */
    /* background-color: aliceblue; */
   }
   .profile-sec{
    opacity: 0;
    transform: translateX(30px);
    animation: fadeUpIn 1s ease forwards;
    animation-delay: 0.3s;
    display: flex;
    justify-content: end;
    width: 50%;
    /* background-color: #ccc; */
    /* flex:1 1 30%; */
    
   }
   .profile-sec> img{
    max-width: 70%;
    border-radius: 20px;
    box-shadow: -1px 2px 10px #ccc;
   }
   @keyframes fadeInUp {
    from{
      opacity:0;
      transform: translateX(-30px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
   }
   @keyframes fadeUpIn {
    from{
      opacity:0;
      transform: translateX(30px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
   }
   .sub-section> h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 1.5;
    display: flex;
   }
   .sub-section>h2{
    font-weight: normal;
    font-size: 20px;
    padding: 30px 0px;
    line-height: 1.5;
    text-align: left;
    display: flex;
   }
   .about-container{
    max-width: 1320px;
    margin:auto;
    background-color:white;
    border-radius: 20px;
    box-shadow: -1px 10px 50px #ccc;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 60px 0px;
    width: 100%;
   }
   .text-sec>h2{
    font-weight: normal;
    font-size: 18px;
    padding: 30px 0px 0px;
    line-height: 1.5;
    text-align: justify;
   }
   .text-sec{
    display: flex;
    width: 70%;
    /* max-width: 555px; */
    /* min-width: 420px; */
    padding: 0px 50px;
    /* background-color: antiquewhite; */
    /* flex-grow: 1; */
    /* justify-content: left; */
    /* background-color: aliceblue; */
   }
   .img-sec{
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: #ccc; */
    width: 50%;
    /* justify-content: end; */
   }
   .img-sec> img{
    max-width: 70%;
    /* max-width: 420px; */
    border-radius: 20px;
    /* box-shadow: -1px 2px 5px #ccc; */
   }
   .social{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: -40px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px #ccc;
   }
   .social>.bi{
    font-size: 22px;
    display: inline-block;
    padding: 10px;
    color: #9929fb;
    transition: all 0.15s ease;
   }
   .social>.bi:hover{
    color: white;
    background-color: #9929fb;
    border-radius: 3px;
   }


 .Edu-sec{
    min-height: 100vh;
    /* background-color: #ccc; */
    /* display: flex; */
    display: flex;
    align-items: center;
    width: 100%;
    padding: 85px 30px 0px;
  } 
  .detail-sec{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px #ccc;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    transition: all 0.3s ease-out;
  }
  .detail-sec>.bi{
    font-size: 30px;
    color: #9929fb;
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .detail-sec>h1{
    font-size: 40px;
    font-weight: 500;
    padding: 0px 10px;
  }
  .detail-sec:hover>.bi{
    background-color:#9929fb;
    color: white;
  }
  .detail-sec:hover{
    transform: translateY(2px);
    box-shadow: 10px 10px 50px #ccc;
  }
  .Edu-container{
    background-color: white;
    box-shadow: -2px 2px 50px #ccc;
    display: flex;
    /* width: 100%; */
    max-width: 1320px;
    margin: 0px auto;
    display: flex;
    padding: 50px 30px;
    align-items: center;
    border-radius: 20px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    
  }
  .heading{
    width: 50%;
    display: flex;
    justify-content: center;

  }
  .edu-info h1{
    font-weight: 500;
    font-size: 20px;
  }
  .edu-info h2{
    font-weight: normal;
    font-size: 17px;
  }

  .edu-info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    row-gap: 50px;
    column-gap: 10%;
    /* align-items: center; */
  }
  .degree{
    width: 80%;
    padding: 30px 30px;
  }
  .higher,.school{
    width: 45%;
    padding: 50px 10px;
  }
  .detail{
    transition: all 0.3s ease-out;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #ccc;
  }
  .detail:hover{
    box-shadow: 10px 10px 50px #ccc;
    transform: translateY(2px);
  }
   @media (max-width:930px) {
    .Edu-container{
      /* flex-wrap: wrap;
       */
       flex-direction: column;
      justify-content: center;
      padding: 40px 0px;
    }
    .edu-info{
      width: 100%;
      row-gap: 5px;
    }
    .detail-sec>h1{
      font-size: 30px;
      text-align: center;
    }
    .edu-info h1{
      font-size: 17px;
    }
    .edu-info h2{
      font-size: 14px;
    }
    .edu-info{
      padding: 20px 0px 0px;
    }
    .detail{
      width: 80%;
      padding: 20px 20px;
    }
   }
  

   @media (max-width:1234px){
    .home-container{
      flex-wrap: wrap;
      justify-content: center;
      /* flex-direction: column; */
      align-items: center;
    }
    .sub-section{
      /* width: 70%; */
      width: 70%;
      order: 2;
      justify-content: center;
      /* text-align: center !important; */
      flex-grow: 1;
      padding: 0px 30px;
      /* padding: 0px 20px; */

      /* padding-left: 25px; */
      /* display: flex; */
    }
    /* .sub-section>h2{
      display: none;
    } */
    .profile-sec{
      order: 1;
      justify-content: center;
      align-items: center;
      padding: 85px 0px 0px;
      /* margin: 55px 0px 0px; */ 
      /* padding: 0;  smaller */
      /* margin: 20px 0 0;    */
      /* flex-grow: 1; */
      /* height:50vh; */
    }
    
    .img-sec> img{
      max-width: 315px;
    }
    .profile-sec> img{
      max-width: 330px;
    }
    /* .Home-sec{
        min-height: 50vh;
      } */
    .sub-section{
        text-align: center;
        
   }
   .text-sec>h2{
        font-size: 14px;
      }
   
   }
   
   @media (max-width:768px) {
      
      .sub-section>h2{
        font-size: 16px;
      }
      .sub-section>h1{
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
      }
      /* .About-sec{
        min-height: 50vh;
      } */
      .about-container{
         padding: 30px 0px;
      }
      .profile-sec>img{
        max-width: 250px;
      }
      .img-sec>img{
        max-width: 250px;
      }
      .social>.bi{
    font-size: 17px;
      }
      .social{
        padding: 15px 25px;
      }
      .About-sec{
      padding: 85px 30px 0px;
    }
      
    }
    @media (max-width:1100px){
      
    .about-container{
      flex-wrap: wrap;
      justify-content: center;
    }
    .text-sec{ 
      margin-top: 30px;
      padding:0px 15px !important;
      width: 100%;
    }
    .home-container,.About-sec,.Edu-sec{
      min-height: auto;
    }
    }
  